body {
  background-color: #949494;
  color: #ebebeb;
}
table {
  font-size: medium;
  border-spacing: 7.5px;
}
td {
  color: #ebebeb;
  padding: 10px;
  text-align: center;
  line-height: 125%;
}
.nature-header {
  background-color: #0a8a0f;
}
.space-header {
  background-color: #a06c00;
}
.world-header {
  background-color: #be01fa;
}
.body-header {
  background-color: #006aff;
}
.trivia-header {
  background-color: #c85200;
}
.flw-header {
  background-color: #5F5FFA;
}
.people-header {
  background-color: #B2602A;
}
.win-header {
  background-color: #0f827d;
}
.jodi-header {
  background-color: #00a8ad;
}
.pan-header {
  background-color: #2d76c8;
}
.krieg-header {
  background-color: #be4c87;
}
.bonus-header {
  background-color: #545454;
}
.nature {
  background-color: #0a8a0f;
}
.space {
  background-color: #a06c00;
}
.world {
  background-color: #be01fa;
}
.body {
  background-color: #006aff;
}
.trivia {
  background-color: #c85200;
}
.flw {
  background-color: #5F5FFA;
}
.people {
  background-color: #B2602A;
}
.win {
  background-color: #0f827d;
}
.jodi {
  background-color: #00a8ad;
}
.pan {
  background-color: #2d76c8;
}
.krieg {
  background-color: #be4c87;
}
.bonus {
  background-color: #545454;
}
.meme {
  background-color: #786F9B;
}
.facts {
  width: 80%;
  margin: 0 auto;
  counter-reset: row-num;
}
.facts tr {
  counter-increment: row-num;
}
.facts tr td:first-child::before {
    content: counter(row-num) ": ";
}
a {
  color: #ffffff;
  font-weight: bold;
}
.outro a {
  color: #000000;
  font-weight: bold;
}
.linkhead {
  color: #000000;
  font-weight: bold;
}
.aside {
  font-size: small;
}
.milestone {
  --angle: 0deg;
  border-spacing: 20px;
  border: 10px solid;
  border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
  animation: 2.5s rotate linear infinite;
}

@keyframes rotate {
  to {
  --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}